  .img {
  width: 600px;
  height: 300px;
  object-fit: cover;  
}

.banner {
  width: 80%;         
  height: auto;       
  display: block;
  margin: 1rem auto;  
}

.banner {
  width: 75%;
  height: auto;
  display: block;
}


ul.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #020e36 ;
  padding: 1rem 0;
  position: sticky; 
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

/* Navbar links */
ul.navbar li {
  margin: 0 1rem;
}

ul.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: block;
}

ul.navbar a:hover {
  background-color: #324480 ;
  border-radius: 4px;
}

/* Main headings and text */
h1, h2 {
  text-align: center;
  margin: 2rem 1rem 1rem;
  color: #bcbc02;
  font-family: Arial, sans-serif;
}

p {
  max-width: 800px;
  margin: 1rem auto;
  line-height: 1.6;
  font-family: Georgia, serif;
  font-size: 1rem;
  padding: 0 1rem;
}

/* Styling for other images */
.img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 2rem auto;
  border-radius: 8px;
}

address {
  text-align: center;
  margin: 3rem 0;
  font-style: normal;
  font-size: 0.9rem;
  color: #dff79c;
}

body {
  background-color: #020e36; 
  color: #ffffff;
}

.divider {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc; /* Light gray line */
  margin: 3rem auto;
}